<div id="wrapper">
  <h1>Mongo Car Guru</h1>
  <h2><i>Let's Find you that brand new car!!!</i></h2>
  <h4>Once you click a car, you can add notes about the car and save them.</h4>
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<div>
  {{!-- {{each data}}
    <div class="row">
      {{this.Title}}
    </div>
  {{/each data}} --}}
</div>

<script src="app.js"></script>